# Basic Python Tutorial
KIT718 Tutorial 1-Part 1

#### At the end of this tutorial you will be able to:
- Use python for basic programming
- Load data and store it as Pandas dataframe
- Do simple dataframe operations

This tutorial will provide fundametals of Python, for future and complete reference please use the official tutorial from Python website  https://docs.python.org/3/tutorial/. There are a lot of online resources to learn Python too, you are encouraged to discover the best one for youself. For beginners, I would recommend https://www.w3schools.com/python/default.asp

## I. Evironment Setup

To complete this tutorial with Python you can use the lab computers or install the following packages/libraries in your personal computeok

- Python 3.7
- Anaconda [for Jupyter Notebook]

## II. Variables and Operators

A variable can be seen as a "holder" of values, you can change the value of the variable. 

We can apply operators to variables to perform computation on the values that they are holding.


Different operators such as 
- +: plus
- -: minus
- \*: multiplication
- /: division
- \>: bigger than
- <: less than
- ==: equal
- !=: not equal
- %: remainder of dividing

Please check the code below and change different values for *a* and _b_ and try different operators.

In [32]:
a = 1.0 # variable a <-- This is a comment 
b = 2.0 # variable b
c = a + b
print("%f+%f = %f"%(a,b,c))

1.000000+2.000000 = 3.000000

## III. Data types

### III.1 Check data types

In Python a variable can be assigned a value of any types. You don't need to declare the variable type, just assign. Run the code below and see the results. Please note that variable names are case-sensitive in Python, i.e. 'A' and 'a' are two different variables.

In [33]:
a = 1
print(type(a))
a = 1.0
print(type(a))
a = "Hello"sol
print(type(a))
a = False
print(type(a))
A= 1
print(a)
print(A)

SyntaxError: invalid syntax (<ipython-input-33-9d03d000ddba>, line 5)

### III.2 List

List is a common data structure in Python where you can store a collection of values, objects, or even other data structure. You can store in the list elements of multiple datatypes.

In [37]:
mylist = [1,2,4,4,5] # List of integers
print(mylist)

[1, 2, 4, 4, 5]

##### <span style="color:red">Sample Exercise 1</span>:
Create a list of 4 elements, one string, one integer, one bool, and one float. Print the list

<details><summary><b>Click here for the solution</b></summary>

```python
Mylist=["ABC", 1, False, 1.0]
print(mylist)
```

###### Indexing
Accessing elements in list using "indexing". An index is the a non-negative integer indicates the position of the element in the list. The first index is 0.

In [38]:
mylist = ["red","orange","yellow","green", "blue", "indigo","violet"]
print(mylist[4]) # print the element at index 4

blue

We can use negative index, starting from $-1$ for the last element and decrease from right to left.

In [39]:
# Print negative elements backward
print(mylist[-1]) # last element
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])
print(mylist[-5])
print(mylist[-6])
print(mylist[-7])

violet
indigo
blue
green
yellow
orange
red

###### Slicing
Accessing a subset of elements from a list using "slicing".

In [40]:
# Access elements from index 2 to 5 (exlusive)
print(mylist[2:5])

['yellow', 'green', 'blue']

In [41]:
# Access elements from beginning to index 3 (exclusive)
print(mylist[:3])

['red', 'orange', 'yellow']

In [42]:
# Access elements from index 2 to the end (inclusive)
print(mylist[2:])

['yellow', 'green', 'blue', 'indigo', 'violet']

<i>Find out whether $mylist[2:-1]$ and $mylist[2:]$ are same or not?</i>

### III.3 How strings work?

Strings can be seen as a list of characters and we can apply what we can do with lists to strings.

In [43]:
# Append strings
firstname = "Son"  # you can also use 'Son'
lastname  = "Tran" # you can also use 'Tran'
fullname = firstname + " " + lastname
print(fullname)
# More string operators can be found here: https://www.educba.com/string-operators-in-python/

Son Tran

There are also string-specific functions, please find them here https://www.w3schools.com/python/python_ref_string.asp.

### III.4 More data types and structures

For more information about data types and structures, please check the following link. Please leave it for your self-learning and use it for future reference. We will move to the next section.

https://www.datacamp.com/community/tutorials/data-structures-python

## IV. Condition and Loops

 Conditions are statements to allow us to control the flow of the program. When a condition is satisfied (True), the statements under it will be executed. In Python, If-Then is the most common condition syntax.

In [44]:
a = 5
if a==0:
    print("a is zero")
elif a>0:
    print("a is positive")
else:
    print("a is negative")

a is positive

Loop is a programming structure that repeats a sequence of instructions until a specific condition is met. In Python For and While are used. The following code demonstrates how For loop works.

In [45]:
for color in mylist: # for each value in list, we assign it to color and print out
    print(color)

red
orange
yellow
green
blue
indigo
violet

If we want iterate a sequence of instructures in a number of times, we can use _range_ to generate a numeric list and apply For loop to it.

In [46]:
for i in range(len(mylist)): # len: the length of mylist, range(): generate a list ranging from 0 the len(mylist)-1
    print(i)
    color = mylist[i]
    print(color)

0
red
1
orange
2
yellow
3
green
4
blue
5
indigo
6
violet

Let's explore the While loop. The While loop allows the instructions to repeat untile the condition in the _while_ statement is correct.

In [47]:
index = 0
while index<len(mylist): # Will repeat the below instructions while the condition is met, 
                         # i.e. while index is not out of the range of the list
    color = mylist[index]
    index+=1  # increase index
    print(color)

red
orange
yellow
green
blue
indigo
violet

##### <span style="color:red">Sample Exercise 2</span>:
Print the index of color 'yellow' in mylist. You need to use if-then-else statement and loop.

<details><summary><b>Click here for the solution</b></summary>
```python
  for i in range(len(mylist)):
    color = mylist[i]
    if(color=='yellow'):
        print(str(i)+" is the index of color "+color) # str function is converting 'i' to string for printing
```

## V. Functions

Functions are self-contained portion of instructions that we can reuse in different places in our program. In Python, the function is declared with _def_ syntax. The following function is to compute a sigmoid function:

$\large y = \frac{1}{1+e^-x}$

In [48]:
import math
### This is the begining of the function
def sigmoid(x): # sigmoid is the name of the function
                # x is the parameters
    y = 1/(1+math.exp(-x))
    return y
### This is the end of the function


x = 0
y = sigmoid(x) ## This is how we call the function

print("sigmoid(%.5f)=%.5f"%(x,y)) # .5% means we print 5 digits after the decimal point

sigmoid(0.00000)=0.50000

##### <span style="color:red">Sample Exercise 3</span>:
Create a function that finds the index of a particular color in a given list of colours. Note: for this excercise you need to 
give more than one parameter in your function. Read more about python function before doing this excercise:https://www.w3schools.com/python/python_functions.asp

<details><summary><b>Click here for the solution</b></summary>
```python
def search_colour(x,clist):
    for i in range(len(clist)):
        color = clist[i]
        if(color==x):
            return i
   
print(mylist)
c_index=search_colour('yellow',mylist)
print(str(c_index)+" is the index of color "+'yellow')
```
There is another nice feature (called 'lambda') in python similar to functions which is quite useful in Big data analytics. Have a quick read about it at :https://www.w3schools.com/python/python_lambda.asp

## VI. Data Acquisition

There are various formats for a dataset: .csv, .json, .xlsx  etc. The dataset can be stored in different places, on your local machine or sometimes online.<br>
The Pandas Library is a useful tool that enables us to read various datasets into a dataframe; in general Jupyter notebook platforms have a built-in <b>Pandas Library</b> so that all we need to do is import Pandas without installing.

In this section, you will learn how to load a dataset using Pandas library.<br>

In our case, the Automobile Dataset is an online source, and it is in a CSV (comma separated value) format. Let's use this dataset as an example to practice data reading.

<ul>
    <li>Data source: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2022-01-01" target="_blank">https://archive.ics.uci.edu/ml/datasets/automobile</a></li>
    <li>Data type: csv</li>
</ul>

</p>

In [49]:
#install pandas library in case it is not recognised
#pip install pandas

import pandas as pd
# read the online file by the URL provided above, and assign it to a dataframe "df"

other_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(other_path, header=None)#header is None, it means header is not available with csv file

# show the first 5 rows using dataframe.head() method
print("The first 5 rows of the dataframe") 
df.head(5)

The first 5 rows of the dataframe

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

As it can be noticed that there is no header (i.e. no colmn names) in the table, so they are numerically named by Python.
Let us add header.

In [50]:
# create headers list
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", headers)
df.columns = headers
df.head(10)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [51]:
# To save data locally
df.to_csv("automobile.csv", index=False)

There are other several functions to load data from other file formats. Please read following tutorial for further reading: https://pandas.pydata.org/docs/user_guide/io.html

## VII. Simple Dataframe Operations

### Describe
If we would like to get a statistical summary of each column e.g. count, column mean value, column standard deviation, etc., we use the describe method:

In [52]:
df.describe() #describing  dataframe containing automobile data

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000


###### Slicing
    You can select the subset of columns of a dataframe by indicating the name of each column. For example, you can select the three columns as follows:

<p>
    <code>dataframe[[' column 1 ',column 2', 'column 3']]</code>
</p>
<p>

In [53]:
df[['height']].describe()

           height
count  205.000000
mean    53.724878
std      2.443522
min     47.800000
25%     52.000000
50%     54.100000
75%     55.500000
max     59.800000

Another way of slicing is by using both rows and columns. For this we will use 'loc()' function. Read more about the function from: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

In [54]:
#Select rows 10 t0 20:
df_sliced=df.loc[10:20,['make','fuel-type','height']]
df_sliced

         make fuel-type  height
10        bmw       gas    54.3
11        bmw       gas    54.3
12        bmw       gas    54.3
13        bmw       gas    54.3
14        bmw       gas    55.7
15        bmw       gas    55.7
16        bmw       gas    53.7
17        bmw       gas    56.3
18  chevrolet       gas    53.2
19  chevrolet       gas    52.0
20  chevrolet       gas    52.0

You can also use df.info() method to get summary of the dataframe. 

###### Filtering

To get the subset the data (certain rows) with a condition, we can apply Boolean indexing. This indexing is commonly known as a <b>filter</b>.  For example, if we want to subset the rows in which the automobile height is less than 50:

In [55]:
df_sub = df[ df['height'] <50 ]
df_sub['height'].head(10)

0      48.8
1      48.8
49     47.8
55     49.6
56     49.6
57     49.6
58     49.6
80     49.4
81     49.4
104    49.7
Name: height, dtype: float64

You can also filter by multiple conditions. Read about it here: https://datascienceparichay.com/article/pandas-filter-dataframe-for-multiple-conditions/

##### <span style="color:red">Sample Exercise 4</span>:
Filter the dataframe with condtion when height<50 and fuel_type is gas

In [73]:
df_new = df[ (df['height'] <50) & (df['fuel-type'] =='gas')]
df_new[['height', 'fuel-type']]

     height fuel-type
0      48.8       gas
1      48.8       gas
49     47.8       gas
55     49.6       gas
56     49.6       gas
57     49.6       gas
58     49.6       gas
80     49.4       gas
81     49.4       gas
104    49.7       gas
105    49.7       gas
106    49.7       gas

<details><summary><b>Click here for the solution</b></summary>
```python
df_new = df[ (df['height'] <50) & (df['fuel-type'] =='gas' )]
print(df_new[['height','fuel-type']])
```

###### Sorting
We can sort the data frame by a column. By default, sorting is ascending.

In [77]:
df_sorted = df.sort_values( by ='height')
df_sorted[['height']].head()

    height
49    47.8
0     48.8
1     48.8
81    49.4

How to do in descending order sorting? Find out by reading : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html